@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {  
  .text-shadow {  
      text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.6);  
  }  
}

h1{
  font-family: Arial, Helvetica, sans-serif;
}
h2{
  font-family: Arial, Helvetica, sans-serif; 
}